@import '../../styles/colors.module.scss';

.loginPage {
  position: relative;
}

.loginPage .loginWrapper {
  position: relative;
  display: flex;
  height: 100vh;
}

@keyframes to50 {
  from {
    width: 50%;
  }
  to {
    width: 40%;
  }
}

.loginPage .loginForm {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: to50 0.5s linear 1s 1 forwards;
}

.loginPage .loginVisual {
  position: relative;
  width: 60%;
  height: 100%;
  background: #efefef;
  overflow: hidden;
}

.loginPage .loginVisual img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

@keyframes shownOp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loginPage .loginFormSet {
  position: relative;
  color: $neutral7;
  width: 80%;
  max-width: 420px;
  opacity: 0;
  animation: shownOp 0.35s linear 1.25s 1 forwards;

  .textTitle {
    color: $neutral10;
    font-weight: 500;
  }

  .textSub {
    margin-top: 12px;
    color: $neutral7;
  }
}

.loginPage .registerOffer {
  position: relative;
  text-align: center;
}

.loginPage .loginActGroup {
  position: relative;
  margin-top: 22px;

  .loginBtn {
    position: relative;
    margin-bottom: 16px;
    text-align: center;

    button {
      width: 100%;
    }
  }

  .loginOffer {
    position: relative;
    color: $neutral7;
    text-align: center;

    a {
      color: $geekBlue6;
      padding-left: 4px;
    }
  }
}
